.dekstopheader {
    background-color:white!important;
    border:none!important;
}

.dekstopheader-button{
    text-emphasis-color: black!important;
}

.dekstopheader-home{
    color:blue!important;
}

.dekstopheader-menu{
    border:none!important;
}

.logo-image{
    height:50px!important;
}
.dekstop-header{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}