.device-segment{
    margin-left: 100px!important;
    margin-right: 400px!important;
}

.soon-btn {
    margin-bottom: 50px!important
}

.more-segment{
    margin-left:400px!important;
    margin-right: 100px!important;
}

.soon-header{
    padding-top:200px!important;
    padding-bottom: 200px!important;
}