.footer-div{
    margin-top:20px!important;
    background-color:#f3f3f3!important;
    height:250px!important;
    padding:25px!important;
}

.footer-group{
    height:150px!important;
    max-width:100px!important;
    background-color:#f3f3f3!important;
    margin-left:0px!important;
    margin-right:0px!important;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding:20px!important;
}

.footer-group-header{
    font-weight: 300!important;
    margin-left:10px!important;
}

.footer-group-text{
    font-weight: 300!important;
    color:#525252;
}